terraform.tfstate
terraform.tfstate.backup
.terraform*
/log
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/plan.txt
**/plan.out
**/temp_snippet.txt
**/*.zip
secrets/*.tfvars